@import url('./style/grid.css');
@import url('../ngo.css');
body{
    margin:0px;
    
}
.quote{
    padding: 5vh 8vw;
    font-size: xxx-large;
    font-weight: 900;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
}
.bg-img1{
    background: url("../Images/purple.svg") no-repeat right center;
}
.bg-img2{
    background:url('../Images/pink.svg') no-repeat left center;
}
.bg-img3{
    background:url('../Images/orange.svg') no-repeat right center;
}
.img-vid{
    width:20vw;
}
.bgl{
    
    background-repeat: no-repeat;
    background-size: contain;
   
}
.bgr{
    background-repeat: no-repeat;
    background-size: contain;
}

.story{
    display: flex;
    justify-content: center;
    gap:2vw;
    align-items: center;
    padding: 3vh 9vw;
}
.context{
    padding: 8vh 8vw;
    width: 58ch;
    font-size: 2.5vw;

}
.video{
    max-width: 400px;
}
